@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}

body {
  display: block;
  min-height: 240vh;
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
}

.sect-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 570px;
  margin-inline: 0;
  padding-inline: 0;
  background-color: #1f2937;
}

.header {
  display: flex;
  flex-direction: row;
  margin-inline: 195px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-family: "Roboto-Bold";
  font-size: 24px;
  color: #f9faf8;
}

.space {
  display: flex;
  flex: 1;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  padding: 10px;
}

a {
  text-decoration: none;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-inline: 195px;
}

.sect-1 .content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.sect-1 .content strong {
  color: #f9faf8;
  font-size: 48px;
  font-family: "Roboto-Bold";
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 250px;
  max-width: 450px;
}

.hero .subtext {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  max-height: 80px;
}

.hero button {
  background-color: #3882f6;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 7px;
  max-width: 130px;
  padding-block: 5px;
  font-weight: bold;
  font-size: 17px;
  color: #e5e7eb;
}
.hero-image {
  background-color: #6e7580;
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 250px;
  max-width: 550px;
  color: #e5e7eb;
}

.sect-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 500px;
}

.sect-2 .content {
  align-items: center;
}

.sect-2 h1 {
  font-size: 36px;
  padding: 20px;
  color: #1f2937;
  font-family: "Roboto-Bold";
}

.sect-2 .boxes {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 900px;
}

.sect-2 .box-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.sect-2 .box {
  border: 4px solid #3882f6;
  min-width: 160px;
  min-height: 170px;
  border-radius: 17px;
}

.sect-2 .subtext {
  text-align: center;
  color: #626365;
  max-width: 166px;
  font-size: 18px;
  padding-top: 5px;
}

.sect-3 {
  display: block;
  min-height: 430px;
  background-color: #e5e7eb;
}

.sect-3 .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 430px;
}

.sect-3 .quote {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
  max-width: 830px;
  font-family: "Roboto-Light", sans-serif;
}

.sect-3 .author {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 750px;
  font-family: "Roboto-Bold";
  font-size: 24px;
  color: #1f2937;
}

.sect-4 {
  display: block;
  min-height: 355px;
  background-color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100px;
  background-color: #1f2937;
  margin-bottom: 0;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  font-size: 18px;
}
