body {
  display: block;
  min-height: 240vh;
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
}

.sect-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 570px;
  margin-inline: 0;
  padding-inline: 0;
  background-color: #1f2937;
}

.header {
  display: flex;
  flex-direction: row;
  margin-inline: 195px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.space {
  display: flex;
  flex: 1;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  padding: 10px;
}

a {
  text-decoration: none;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-inline: 195px;
}

.sect-1 .content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.sect-1 .content strong {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 250px;
  max-width: 450px;
}

.hero .subtext {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  max-height: 80px;
}

.hero button {
  background-color: #3882f6;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 7px;
  max-width: 130px;
  padding-block: 5px;
  font-weight: bold;
  font-size: 17px;
  color: #e5e7eb;
}
.hero-image {
  background-color: #6e7580;
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 250px;
  max-width: 550px;
  color: #e5e7eb;
}

.sect-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 500px;
}

.sect-3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 430px;
  background-color: #e5e7eb;
}

.sect-4 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 340px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100px;
  background-color: #1f2937;
  margin-bottom: 0;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  font-size: 18px;
}
